<!DOCTYPE html>
<html>
    <head>
        <title>Barb's Website</title>
        <meta name="Description" contents="This is my first website">
        <meta name="Author" contents="Barbie Francisco">
        <link rel="stylesheet" href="#style.css">
    </head>

    <body class="subPageBody">
        <div class="headerBackground subPageHeaderBackground">
            <div class="container subPageContainer">
            {% include header.html %}
                <article class="page markdown-body">
                    {{ content }}
                </article>
            </div>
            {% include appstoreimages.html %}
        </div>
    </body>

</html>