body{
    background-color: rgb(71, 145, 163);
    font-family:'Times New Roman';
}

h1{
    color:darkblue;
    letter-spacing: 2px;
    text-decoration: underline;
}

ol{
    color: burlywood
    ;
}



table{
    border:1px solid black;
    width: 100%;
    background: grey
}

td{
    border:1px solid black;
    background: white;
}

thread, tfoot{
    background: black;


}
