body{
    background-color: gray;
    font-family:'Times New Roman';
}

h1{
    color:gray;
    letter-spacing: 1px;
    text-decoration: underline;
}

ol{
    color: burlywood
    ;
}



table{
    border:1px black;
    width: 100%;
    background: black
}

td{
    border:1px solid black;
    background: black;
}

thread, tfoot{
    background: black;


}
